<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to Amazing Website</h2>

    <form action="/users" method="get">
      <label for="name">Name :  </label> <input type="text" name="name" id="name">
      <label for="email">Email :  </label> <input type="email" name="email" id="email">
      <input type="submit" name="submit" value="submit">

    </form>
    <h2><%= error %></h2>
    <a href="/result"> Show Top Results</a>
  </body>
</html>
